@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000b19;
}

.outlineHover:hover{
  background-color: #333c47 !important;
}

.uploadProfile:hover{
opacity: 75%;
  cursor: pointer;

}