@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cantDoHoverInline:hover{
  background-color: #edf2f7;
}